<!--
 Copyright 2019 Novartis Institutes for BioMedical Research Inc. Licensed
 under the Apache License, Version 2.0 (the "License"); you may not use
 this file except in compliance with the License. You may obtain a copy
 of the License at http://www.apache.org/licenses/LICENSE-2.0. Unless
 required by applicable law or agreed to in writing, software distributed
 under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES
 OR CONDITIONS OF ANY KIND, either express or implied. See the License for
 the specific language governing permissions and limitations under the License.
-->

<!doctype html>
<html lang="en">

<head>
  <!-- Default header -->
  {% include 'header.html' %}

  <!-- Page title -->
  <title>SSF BioHub</title>

  <!-- Stylesheets -->
  <link rel="stylesheet"
    href="{{ url_for('static', filename='css/navbar.css') }}" />
  <link rel="stylesheet"
    href="{{ url_for('static', filename='css/common.css') }}" />
  <link rel="stylesheet"
    href="{{ url_for('static', filename='css/homepagestyle.css') }}" />
</head>

<body style="background: #ffffff">
  <!-- Navbar -->
  {% include 'navbar.html' %}




  <div class="container-fluid py-1">
        </div>
    <div class="row">
      <div class="col-12">
        <h1 style="padding-left: 35px">
          How To Upload Data via SSH and SCP:
        </h1>
        <ol style="padding-left: 85px">
          <li>
            Confirm that your ssh key has been properly added. Running the
            following command should connect you to the server:
          </li>
          <pre>ssh ec2-user@{{ ip }}</pre>
          <li>
            Prepare your data on your own machine. They should be in a common
            folder called 'USER' and should look <br />similar to the
            following structure:
          </li>
          <pre>
- USER
    - hpc.h5ad
    - pbmc3k.h5ad</pre>
          <li>
            Copy your data to the server (replace USER with your username):
          </li>
          <pre>
ssh ec2-user@{{ ip }} 'mkdir -p {{ cellxgene_data }}/USER/'
ssh ec2-user@{{ ip }} 'mkdir -p {{ cellxgene_data }}/USER/DATA/'
scp -r pbmc3k.h5ad ec2-user@{{ ip }}:{{ cellxgene_data }}/USER/DATA/</pre>
          <li>Take a look at your data using the file crawler link above</li>
        </ol>
      </div>
    </div>
  </div>
</body>

</html>
